
@{
	ViewBag.Title = "Delete Error";
}

<<div>
	<h1>Delete Error</h1>
	<div class="alert alert-danger text-center" role="alert">
		You cannot delete this department because it has enrolled students.
	</div>
	<a asp-action="Index">Back to List</a>
</div>